/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background: rgba(109, 128, 79, 0.1);
    font-family: 'Courgette', cursive;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


.nav-wrapper li a {
    color: rgb(109, 128, 79);
    font-size: 1.3rem;
}

.parallax-container {
    height: 800px;
}

#index-banner {
    min-height: 900px;
}

.slider {
    min-height: 900px;
}

.slider .carousel {
    min-height: 900px;
}

.slider .carousel .carousel-item img {
    height: 900px;
}

@media screen and (max-width: 480px) {
    #index-banner {
        min-height: 400px;
        height: 400px !important;
    }

    .slider {
        min-height: 400px;
    }

    .slider .carousel {
        min-height: 400px;
    }

    .slider .carousel .carousel-item img {
        height: 400px;
    }
}

.alert-danger-contactus {
    background: red;
    color: #fff;
}