 .preloader {
     background: rgba(255, 255, 255, 0.9);
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     z-index: 9998;
     opacity: 1;
     transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;

 }

 .preloader img {
     display: block;
     z-index: 9999;
     margin: 200px auto !important;
 }
 nav .brand-logo {
     top:-18px;
 }

 @media only screen and (max-width: 992px) {
     nav .brand-logo {
         top: -10px;
     }
     nav .brand-logo img {
         height:80px !important;
     }
 }